*~
/.dist-buildwrapper/
/.hpc/
//main.tix
/Main.hs.html
/TeleHash.Controller.hs.html
/TeleHash.Web.hs.html
/client_session_key.aes
/dist/
/hpc_index.html
/hpc_index_alt.html
/hpc_index_exp.html
/hpc_index_fun.html
/logs/htelehash-2011-10-21.log
/logs/htelehash-2011-10-21.msgs.log
/logs/startup_funny.txt
/runtests.tix
/src/TeleHash/Demo.hs
/src/TeleHash/Example.hs
/src/TeleHash/Play.hs
/src/TeleHash/irc.hs
/transcript-2011-10-16.txt

/main_flymake.hs
/runtests_flymake.hs
/src/TeleHash/Packet_flymake.hs
/src/TeleHash/Controller_flymake.hs
/src/TeleHash/Switch_flymake.hs
/src/TeleHash/Controller_flymake_flymake.hs
/src/TeleHash/Crypto1a_flymake.hs
/src/TeleHash/Packet.hs.2014-04-06T11:44:07+0200
/src/TeleHash/Packet.hs.2014-04-06T11:45:05+0200
/data/seeds.json.local
/data/seeds.json.official
/line.log
/src/line.log
